@use '../../../scss/variables' as v;
@use '../../../scss/mixins' as m;
@use '../../../scss/components/mixins' as cm;

.footer {
  padding-top: 1rem;
  background-color: v.$footer;
}

// STYLE THE CONTACT-BOX CONTENT
.contact-box {
  position: relative;

  &__icon {
    width: 2rem;
    stroke: v.$primary;
    padding-top: 0.5rem;

    @include m.sm-breakpoint-up() {
      width: 4rem;
    }
  }


  &__info {
    padding: 0.4rem;
    font-weight: 600;



    &--title {
      color: v.$white;
      text-decoration: none;
      font-size: 1rem;

      @include m.sm-breakpoint-up() {
        font-size: 1.4rem;
      }

    }

    &--subtitle {
      font-size: 0.8rem;
      color: v.$gray-600;
      text-decoration: none;

      @include m.sm-breakpoint-up() {
        font-size: 1rem;
      }

    }
  }
}

// STYLE THE SOCIAL MEDIA CONTENT
.footer-sm {


  a {
    color: v.$white;

    i {
      font-size: 1rem;
      margin-left: 1rem;

      @include m.sm-breakpoint-up() {
        font-size: 1.6rem;
      }


    }
    &:hover {
      color: v.$primary;
    }
  }
}

// STYLE THE CAMPANY INFO CONTENT
.campany-list {
  display: block;
  list-style-type: none;
  position: relative;

  li {
    margin-bottom: 0.5rem;
    text-decoration: none;

    a {
      color: v.$white;
      text-decoration: none;

      &:hover {
        color: v.$primary;
      }
    }
  }
}

// STYLE THE COPYRIGHT  CONTENT
.footer-bottom {
  background-color: v.$black;

  &__copyright {
    color: v.$gray-600;
    font-weight: 400;


    a {
      color: v.$gray-300;
      text-decoration: none;

      &:hover {
        color: v.$primary;
        text-decoration: underline;

      }
    }
  }
}
