@use '../../../scss/variables' as v;
@use '../../../scss/components/mixins' as mix;

.menu {
  @include mix.gradient;

  li {
    padding: 0 0.7rem;

    a {
      color: v.$white;
      padding: 0 0.7rem;
      text-transform: capitalize;
      font-weight: 600;

    }
    &:hover {
      color: v.$white;
    }

  }

}
