<section id="companies" class="companies">
  <div class="container">
    <div class="row text-center">
      <h4 class="fw-bold lead mb-3">Trusted by companies like</h4>
      <div class="heading-line mb-5"></div>
    </div>
  </div>
  <!-- START THE CAMPANIES CONTENT  -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-2">
        <div class="companies__logo-box shadow-sm">
          <img src="/assets/images/companies/company-1.png" alt="Company 1 logo" title="Company 1 Logo" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4 col-lg-2">
        <div class="companies__logo-box shadow-sm">
          <img src="/assets/images/companies/company-2.png" alt="Company 2 logo" title="Company 2 Logo" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4 col-lg-2">
        <div class="companies__logo-box shadow-sm">
          <img src="/assets/images/companies/company-3.png" alt="Company 3 logo" title="Company 3 Logo" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4 col-lg-2">
        <div class="companies__logo-box shadow-sm">
          <img src="/assets/images/companies/company-4.png" alt="Company 4 logo" title="Company 4 Logo" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4 col-lg-2">
        <div class="companies__logo-box shadow-sm">
          <img src="/assets/images/companies/company-5.png" alt="Company 5 logo" title="Company 5 Logo" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4 col-lg-2">
        <div class="companies__logo-box shadow-sm">
          <img src="/assets/images/companies/company-6.png" alt="Company 6 logo" title="Company 6 Logo" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
