@use '../../../scss/variables' as v;
@use '../../../scss/mixins' as m;

.services {
  position: relative;
  padding: 1rem 0;

  &__content {
    padding: 1rem;
    margin-top: 0;

    p {
      font-size: 0.8rem;

      @include m.lg-breakpoint-up {
        font-size: 1rem;
      }
    }

    @include m.lg-breakpoint-up() {
      margin-top: 5rem;
    }

    .icon {
      font-size: 1.5rem;
      color: v.$primary;

      @include m.lg-breakpoint-up() {
        font-size: 2.5rem;
      }
    }
  }

  &__pic {
    max-width: 100%;
  }
}
